
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;0,700;1,600;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

*{
    max-width: 1440px;
    margin: 0;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.naver{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--dark-02, #424242);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}
.nav-title{
 color: var(--dark-01, #131313);
font-size: 2.8rem;
font-weight: 700;
}

 /* banner css */
 
 .banner-title-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 40px;
 }

.banner-description{
    color: #727272;
    margin-top: 1.25rem;
    margin-bottom: 20px;
}

.btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
   font-size: 1.25em;
   font-weight: 600;
   border: 0;
   margin-bottom:30px;
}

.banner-image{
    width: 100%;
    padding-bottom: 20px;
}


/* shared styes */

.nasum{color:
    color: var(--dark-03, #727272);
 font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* teams section */
.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
    margin: 85px 301px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-title{
color: var(--dark-03, #727272);
font-size: 45px;
font-weight: 500;

}
.of-our{
color: var(--dark-01, #131313);
font-size: 45px;
font-weight: 700;

}
.Features{
    color: #FF900E;
font-size: 45px;
font-weight: 700;
}
.teams-description{
max-width: 537px;    
color: var(--dark-03, #727272);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 24px;
margin-bottom: 32px;
}

/* facts sections */

.facts-item-container{
    padding-left: 120px;
    padding-bottom: 50px;
}


.facts-title{
color: var(--dark-01, #131313);
font-size: 45px;
font-weight: 700;
}

.card{
    border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 35px 45px;
}
.fact-cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 150px;
    gap:10px;


}
.digit{
    color: var(--dark-02, #424242);
font-size: 3rem;
font-weight: 600;

/* sponsor styles */
}
.sponsor-head{
    text-align: center;
}
.sponsor-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding:50px 240px 130px;
    align-items: center;
    gap:50px;
}


/* footer css */
.footer-content{
   height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF4E7;
  text-align: center;
  padding-top:50px;
  margin-bottom:245px;
}

/* feature section */

.features-title{
    width: 468px; 
color: var(--dark-01, #131313);
font-size: 2.6rem;
font-weight: 700;
border-left:5px solid #FF900E;
padding-left: 20px;

}
.feature-card{
    width: 500px;
height: 100px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
text-align: center;
padding: 30px;
}
.all-feture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:0 7.15rem;
    margin-bottom: 50px;
}
.architech-image{
    width:90%;
}
.experience{
    width: 200px;
height: 150px;
flex-shrink: 0;
border-radius: 8px;
background: #FF900E;
text-align: center;
padding: 2.8rem 3.5rem;
position:relative;
margin-top:-100px;
margin-left: -50px;

}
.ten-year{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 107.692% */
}
.experice{
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.nasum-01{
    width: 586px;
}










@media screen and (max-width:576px){
    header{
        padding: 5px;
    }

    .naver,.all-feture{
        flex-direction: column;
        padding: 2px;
    }
    .team-container{
        flex-direction: column-reverse;
        margin: 20px;
    }
    
    .team-img-container{
        grid-template-columns:1fr;
    }
    .fact-cards-container{
        grid-template-columns:1fr;
        padding: 20px;
    }
   
    .facts-item-container{
        padding: 20px;
}

.sponsor-container{
    grid-template-columns: 1fr;
    padding-left:120px;
    gap:10px;
}

.feature-card,.features-title,.nasum-01{
    width:50%;
    height: 100%;
margin-left: 50px;
margin-top:30px;
}

.architech-image{
    width: 80%;
    margin-left:30px;
    }
    
    .footer-content{
        width:80%;
        height:100%;
        padding:10px;
        margin:0 auto 10px;
        
    }
}
