
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;0,700;1,600;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

*{
    max-width: 1440px;
    margin: 0;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.naver{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--dark-02, #424242);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}
.nav-title{
 color: var(--dark-01, #131313);
font-size: 2.8rem;
font-weight: 700;
}

 /* banner css */
 
 .banner-title-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 40px;
 }

.banner-description{
    color: #727272;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
   font-size: 1.25em;
   font-weight: 600;
   border: 0;
   margin-bottom:30px;
}

.banner-image{
    width: 100%;
    padding-bottom: 20px;
}


/* shared styes */

/* teams section */
.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
    margin: 85px 301px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-title{
color: var(--dark-03, #727272);
font-size: 45px;
font-weight: 500;

}
.of-our{
color: var(--dark-01, #131313);
font-size: 45px;
font-weight: 700;

}
.Features{
    color: #FF900E;
font-size: 45px;
font-weight: 700;
}
.teams-description{
max-width: 537px;    
color: var(--dark-03, #727272);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 24px;
margin-bottom: 32px;
}

/* facts sections */

.facts-item-container{
    padding-left: 120px;
    padding-bottom: 50px;
}


.facts-title{
color: var(--dark-01, #131313);
font-size: 45px;
font-weight: 700;
}

.card{
    border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 35px 45px;
}
.fact-cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 150px;
    gap:10px;


}
.digit{
    color: var(--dark-02, #424242);
font-size: 3rem;
font-weight: 600;

}


















@media screen and (max-width:576px){
    header{
        padding: 5px;
    }

    .naver{
        flex-direction: column;
        padding: 2px;
    }
    .team-container{
        flex-direction: column-reverse;
        margin: 20px;
    }
    
    .team-img-container{
        grid-template-columns:1fr;
    }
    .fact-cards-container{
        grid-template-columns:1fr;
    }
   
}